* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
}

.center {
    padding-right: calc(50% - 800px);
    padding-left: calc(50% - 800px);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 859px;
    background: #222222;
}

.header__logo-block {
    display: flex;
    align-items: flex-end;
    gap: 41px;
    margin-top: 18px;
    margin-bottom: 19px;
}

.header__buttons {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    margin-top: 26px;
    margin-bottom: 20px;
}

.banner {
    display: flex;
    gap: 63.42px;
    background: #F1E4E6;
}

.banner__description {
    display: flex;
    gap: 16px;
    margin-top: 289.9px;
    margin-bottom: 381px;
}

.description__delimiter {
    background: #f16d7f;
    border: 1px black solid;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 12px;
}

.text__primary-part {
    color: #222222;
    font-size: 48px;
    font-weight: 900;
    word-wrap: break-word;
}

.text__secondary-part {
    color: #222222;
    font-size: 32px;
    font-weight: 700;
    word-wrap: break-word
}

.text__bright-part {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
    word-wrap: break-word
}

.text__description {
    color: white;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word
}

.offers {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
    margin-top: 65px;
}

.offers__offer-women {
    background-image: url('images/offers_woman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 105px;
}

.offers__offer-men {
    background-image: url('images/offers_man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 105px;
}

.offers__offer-kids {
    background-image: url('images/offers_kid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 105px;
}

.offers__offer-accessories {
    background-image: url('images/offers_accessories.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: span 3;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
}

.text__category {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 60px;
}

.products__title {
    color: #222222;
    font-size: 30px;
    font-weight: 400;
    word-wrap: break-word;
}

.products__description {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 6px;
}

.products__cards {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
    margin-top: 48px;
}

.product__text {
    padding-bottom: 24px;
    padding-left: 16px;
}

.text__title {
    color: black;
    font-size: 13px;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 25px;
}

.text__description {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    word-wrap: break-word;
    margin-top: 16px;
}

.text__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 16px;
}

.products__button {
    border: 1px #FF6A6A solid;
    color: #F26376;
    background: none;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    padding: 15px 39px 14px 39px;
    margin-top: 48px;
}