@font-face {
    font-family: "Gilroy-Bold";
    src: url("fonts/gilroy_bold.ttf");
    font-family: "Gilroy-Semibold";
    src: url("fonts/gilroy_semibold.ttf");
    font-family: "Gilroy-Medium";
    src: url("fonts/gilroy_medium.ttf");
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 500px;
    margin-top: 40px;
}

.header__company {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-shrink: 0;
    gap: 14px;
}

.name__grow-part {
    color: #000;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name__be-part {
    color: #F25822;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__nav-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 35px;
}

.nav-bar__selected-item {
    color: #F25822;
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-bar__item {
    color: #000;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 39px;
    margin-top: 84px;
    margin-bottom: 162.45px;
}

.description__title {
    width: 522px;
    color: #000;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description__text {
    width: 466px;
    color: #888;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
    margin-bottom: 37px;
}

.description__introduction {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
    flex-shrink: 0;
}

.introduction__button {
    color: #FFF;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 50px;
    background: #F25822;
    padding: 15px 36px 16px 35px;
}

.introduction__link {
    color: #AAA;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-content__image {
    padding-right: 63.98px;
}

.top__footer {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
    flex-shrink: 0;
    padding-top: 97px;
    padding-bottom: 96px;
}